@page
@model DisplayPlayersModel
@{
}
@if (Model.Players.Any())
{
	<h3>Uploaded Players</h3>
	<table id="playerInfoTable" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Position</th>
				<th>Nationality</th>
				@foreach (var role in Model.SelectedRoles)
				{
					<th>@role</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var player in Model.Players)
			{
				<tr>
					<td>@player.Name</td>
					<td>@player.Age</td>
					<td>@player.Position</td>
					<td>@player.Nationality</td>
					@foreach (var role in Model.SelectedRoles)
					{
						var roleData = player.Roles.FirstOrDefault(r => r.RoleName == role);
						<td>
							@(roleData != null ? roleData.RoleScore.ToString("N2") : "N/A")
						</td>
					}
				</tr>

			}
		</tbody>
	</table>
}

<p>
	<a class="btn btn-primary" data-bs-toggle="collapse" href="#forwardRolesCollapse" role="button" aria-expanded="false" aria-controls="forwardRolesCollapse">
		Add Forward Roles
	</a>
</p>

<div class="collapse" id="forwardRolesCollapse">
	<div class="card card-body">
		<form method="post">
			<input asp-for="Players" value="@Model.Players" type="hidden">
			<div class="row mb-2 text-center bg-white p-2">
				<p>Forward roles</p>
				<div class="col-md-10 themed-grid-col d-flex flex-wrap justify-content-center">
					@foreach (var role in Model.ForwardRoles)
					{
						<input type="checkbox" class="btn-check" id="@role" name="SelectedRoles" value="@role" autocomplete="off" checked="@(Model.SelectedRoles.Contains(role) ? "checked" : null)">
						<label class="btn btn-light m-1" for="@role">@role</label>
					}
				</div>
				<p>Midfield roles</p>
				<div class="col-md-10 themed-grid-col d-flex flex-wrap justify-content-center">
					@foreach (var role in Model.MidfielderRoles)
					{
						<input type="checkbox" class="btn-check" id="@role" name="SelectedRoles" value="@role" autocomplete="off" checked="@(Model.SelectedRoles.Contains(role) ? "checked" : null)">
						<label class="btn btn-light m-1" for="@role">@role</label>
					}
				</div>
				<div class="col-md-2 themed-grid-col">
					<button class="btn btn-success btn-sm" type="submit">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row mb-2 text-center">
	<div class="col-md-10 themed-grid-head-col">
		Selected roles
	</div>
</div>
